*{padding: 0; margin: 0; box-sizing: border-box;}
/* body{height: 900px;} */
.header2 {
	background: url('https://www.consalud.es/uploads/s1/11/58/87/0/ninos.jpeg');
	text-align: center;
	width: 100%;
	height: auto;
	background-size: cover;
	background-attachment:local;
	position: relative;
	overflow: hidden;
	border-radius: 0 0 90% 90% / 25%;
}
.header2 .overlay2{
	width: 100%;
	height: 100%;
	padding: 50px;
	color: #FFF;
	text-shadow: 1px 1px 1px #333;
  background-image: linear-gradient(to right bottom, #8c2c6c64 10%, #8c2c6cd4 100%);
  padding-bottom: 12%;
	
}

h1 {
	font-family: 'Dancing Script', cursive;
	font-size: 80px;
	margin-bottom: 30px;
}

h3, p {
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 30px;
}

button {
	border: none;
	outline: none;
	padding: 10px 20px;
	border-radius: 50px;
	color: #333;
	background: #fff;
	margin-bottom: 50px;
	box-shadow: 0 3px 20px 0 #0000003b;
}
button:hover{
	cursor: pointer;
}


/*-----------------------------------------CARDS STYLES-----------------------------------------*/

.InventarioIcono {
    margin-left: 15%;
    margin-top: 4%;
    background-image: url(../../assets/img/Inventario.png);
    background-size:contain;
    background-repeat: no-repeat;
    position: relative;
    max-width: 250px;
    height: 350px;
    border-radius: 5px;
    padding-top: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 7.5px;
    transition: 0.5s ease;
   
    color: #FFF;
  }
  
  .InventarioIcono::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(../../assets/img/Inventario.png); 
    background-size:contain;
    background-repeat: no-repeat;
    opacity: 0;
    transition: 0.4s ease;
   
  }
  
  .InventarioIcono:hover::after {
    opacity: 100;
    
  }
  
  .cardHeader {
    text-transform: uppercase;
    position: relative;
    width: max-content;
    font-weight: bold;
    transition: all 0.5s ease;
    color: #8c2c6c;
  }
  .cardHeader::after {
    content: "";
    width: calc(100% + 1rem);
    height: 2.5px;
    transform: translateX(calc(-100% - 1rem));
    background: rgb(255, 0, 0);
    bottom: -2px;
    left: 0;
    position: absolute;
    opacity: 0;
   
  }
  
  .details {
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 5px;
    transform: translateY(95%);
    transition: all 0.5s ease;
    margin-bottom: 50%;
  }

  .cardText {
    padding-bottom: 10%;
  }
  
  .button {
    background-color: #8c2c6c;
    color: rgb(255, 255, 255);
    padding: 2.5px 7px;
    width: max-content;
    border-radius: 2.5px;
  }
  .InventarioIcono:hover .details {
    transform: translateY(0%);
    transition-delay: 0.5s;
    color: #000000;
    background-color: rgba(193, 192, 192, 0.151);
    border-radius: 15px;
    backdrop-filter: blur(3px);
  }
  .InventarioIcono:hover .cardHeader::after {
    transform: translateX(-1rem);
    transition: 0.5s ease;
    opacity: 1;
  }
  .InventarioIcono:hover {
    transform: scale(1.1);
    border-radius: 15px;
  }

  
  /*-----------------------------------------Usuarios-----------------------------------------*/

  .UsuariosIcono {
    margin-left: 45%;
    margin-top: -27.5%;
    background-image: url(../../assets/img/Usuarios.png);
    background-size:contain;
    background-repeat: no-repeat;
    position: absolute;
    max-width: 250px;
    height: 350px;
    border-radius: 5px;
    padding-top: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 7.5px;
    transition: 0.5s ease;
   
    color: #FFF;
  }
  
  .UsuariosIcono::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(../../assets/img/Usuarios.png); 
    background-size:contain;
    background-repeat: no-repeat;
    opacity: 0;
    transition: 0.4s ease;
   
  }
  
  .UsuariosIcono:hover::after {
    opacity: 100;
    
  }
  
  .cardHeader {
    text-transform: uppercase;
    position: relative;
    width: max-content;
    font-weight: bold;
    transition: all 0.5s ease;
    color: #8c2c6c;
  }
  .cardHeader::after {
    content: "";
    width: calc(100% + 1rem);
    height: 2.5px;
    transform: translateX(calc(-100% - 1rem));
    background: rgb(255, 0, 0);
    bottom: -2px;
    left: 0;
    position: absolute;
    opacity: 0;
   
  }
  
  .details {
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 5px;
    transform: translateY(95%);
    transition: all 0.5s ease;
    margin-bottom: 43%;
  }

  .cardText {
    padding-bottom: 10%;
  }
  
  .button {
    background-color: #8c2c6c;
    color: rgb(255, 255, 255);
    padding: 2.5px 7px;
    width: max-content;
    border-radius: 2.5px;
  }
  .UsuariosIcono:hover .details {
    transform: translateY(0%);
    transition-delay: 0.5s;
    color: #000000;
    background-color: rgba(193, 192, 192, 0.151);
    border-radius: 15px;
    backdrop-filter: blur(3px);
  }
  .UsuariosIcono:hover .cardHeader::after {
    transform: translateX(-1rem);
    transition: 0.5s ease;
    opacity: 1;
  }
  .UsuariosIcono:hover {
    transform: scale(1.1);
    border-radius: 15px;
  }

  /*-----------------------------------------Registros-----------------------------------------*/

  .RegistrosIcono {
    margin-left: 75%;
    margin-top: -27.5%;
    background-image: url(../../assets/img/Registros.png);
    background-size:contain;
    background-repeat: no-repeat;
    position: absolute;
    max-width: 250px;
    height: 350px;
    border-radius: 5px;
    padding-top: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 7.5px;
    transition: 0.5s ease;
   
    color: #FFF;
  }
  
  .RegistrosIcono::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(../../assets/img/Registros.png); 
    background-size:contain;
    background-repeat: no-repeat;
    opacity: 0;
    transition: 0.4s ease;
   
  }
  
  .RegistrosIcono:hover::after {
    opacity: 100;
    
  }
  
  .cardHeader {
    text-transform: uppercase;
    position: relative;
    width: max-content;
    font-weight: bold;
    transition: all 0.5s ease;
    color: #8c2c6c;
  }
  .cardHeader::after {
    content: "";
    width: calc(100% + 1rem);
    height: 2.5px;
    transform: translateX(calc(-100% - 1rem));
    background: rgb(255, 0, 0);
    bottom: -2px;
    left: 0;
    position: absolute;
    opacity: 0;
   
  }
  
  .details {
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 5px;
    transform: translateY(95%);
    transition: all 0.5s ease;
    margin-bottom: 43%;
  }

  .cardText {
    padding-bottom: 10%;
  }
  
  .button {
    background-color: #8c2c6c;
    color: rgb(255, 255, 255);
    padding: 2.5px 7px;
    width: max-content;
    border-radius: 2.5px;
  }
  .RegistrosIcono:hover .details {
    transform: translateY(0%);
    transition-delay: 0.5s;
    color: #000000;
    background-color: rgba(193, 192, 192, 0.151);
    border-radius: 15px;
    backdrop-filter: blur(3px);
  }
  .RegistrosIcono:hover .cardHeader::after {
    transform: translateX(-1rem);
    transition: 0.5s ease;
    opacity: 1;
  }
  .RegistrosIcono:hover {
    transform: scale(1.1);
    border-radius: 15px;
  }

/*-----------------------------------------Sedes-----------------------------------------*/

.SedesIcono {
    margin-left: 28%;
    margin-top: 0%;
    background-image: url(../../assets/img/Sedes.png);
    background-size:contain;
    background-repeat: no-repeat;
    position: relative;
    max-width: 250px;
    height: 350px;
    border-radius: 5px;
    padding-top: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 7.5px;
    transition: 0.5s ease;
   
    color: #FFF;
  }
  
  .SedesIcono::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(../../assets/img/Sedes.png); 
    background-size:contain;
    background-repeat: no-repeat;
    opacity: 0;
    transition: 0.4s ease;
   
  }
  
  .SedesIcono:hover::after {
    opacity: 100;
    
  }
  
  .cardHeader {
    text-transform: uppercase;
    position: relative;
    width: max-content;
    font-weight: bold;
    transition: all 0.5s ease;
    color: #8c2c6c;
  }
  .cardHeader::after {
    content: "";
    width: calc(100% + 1rem);
    height: 2.5px;
    transform: translateX(calc(-100% - 1rem));
    background: rgb(255, 0, 0);
    bottom: -2px;
    left: 0;
    position: absolute;
    opacity: 0;
   
  }
  
  .details {
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 5px;
    transform: translateY(95%);
    transition: all 0.5s ease;
    margin-bottom: 43%;
  }

  .cardText {
    padding-bottom: 10%;
  }
  
  .button {
    background-color: #8c2c6c;
    color: rgb(255, 255, 255);
    padding: 2.5px 7px;
    width: max-content;
    border-radius: 2.5px;
  }
  .SedesIcono:hover .details {
    transform: translateY(0%);
    transition-delay: 0.5s;
    color: #000000;
    background-color: rgba(193, 192, 192, 0.151);
    border-radius: 15px;
    backdrop-filter: blur(3px);
  }
  .SedesIcono:hover .cardHeader::after {
    transform: translateX(-1rem);
    transition: 0.5s ease;
    opacity: 1;
  }
  .SedesIcono:hover {
    transform: scale(1.1);
    border-radius: 15px;
  }